/**
 * ============================================================================
 * Chat Room System - Stylesheet
 * ============================================================================
 *
 * Defines the visual styling for the chat container, layout, and components.
 *
 * ----------------------------------------------------------------------------
 * AUTHORSHIP & SCHOLARLY ATTRIBUTION
 * ----------------------------------------------------------------------------
 * Created By   : Amey Thakur
 * Profile      : https://github.com/Amey-Thakur
 * Date         : 2021-01-19
 * Repository   : https://github.com/Amey-Thakur/CHAT-ROOM
 * License      : MIT
 *
 * ----------------------------------------------------------------------------
 * PROJECT CONTEXT
 * ----------------------------------------------------------------------------
 * This software is a result of research and development documented in the 
 * International Journal for Research in Applied Science & Engineering 
 * Technology (IJRASET).
 * ============================================================================
 */

.container {
    background: url('images/black.jpg');
    padding: 20px;
    width: 40%;
    margin-top: 2%;
}

span {
    color: white;
}

#chat_box {
    /*    width: 90%;*/
    height: 100%;
    margin-top: 4px;
}

.form-group {
    margin-bottom: 10px;
    margin-top: 5px;
    color: white;
}


body {
    background: url('images/blue.jpg');
    font: 15px/1.5 cursive;
}